<h2>{{title}}</h2>

{{#if authUser}}
    <a href="tires/add">
        <img height="25" src="images/add.png" alt="add button image">
    </a>
{{/if}}

{{!-- Display the tires list here --}}

<div class="d-flex flex-wrap  container-fluid">
    {{#each tires}}
        <div class="card w-25 m-3">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                {{#if (areEqual this.imageName "")}}
                    <img src="images/placeholder/tires.jpg" class="img-fluid" />
                {{else}}
                    {{!-- const  --}}
                    <img src="uploads/images/tires/{{this.imageName}}" class="img-fluid" />
                {{/if}}
                <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{this.brand}} - {{this.category}} tires set <span class="h6 text-muted">({{this.size}})</span> </h5>
                <div class="d-flex mb-2">
                    <div class="text-muted">#{{this.sku}}</div>
                    <div class="mx-auto"></div>
                    <div class="">${{this.price}}</div>
                </div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
                {{!-- <a href="#!" class="btn btn-success">Buy/Add to Cart</a>
                <a href="#!" class="btn btn-primary">View</a> --}}
                {{#if ../authUser}}
                    <a href="/tires/delete/{{this._id}}" class="btn btn-danger" onclick="return confirmDelete()">Delete</a>
                    <a href="/tires/edit/{{this._id}}" class="btn btn-warning">Edit</a>
                {{/if}}
            </div>
        </div>
    {{/each}}
</div>