{{!-- form used for both adding and editing a tire object in the mongo database --}}

<h2>{{title}}</h2>


<div class="container mt-4">
    <form class="w-50" method="POST" enctype="multipart/form-data">
    <input type="text" hidden value="{{tireFound.imageName}}" name="prevImgName">
    {{!-- file upload --}}
    <div class="input-group mb-3">
        <input type="file" class="form-control" id="file" name="file">
        <label class="input-group-text" for="file">Upload Image</label>
    </div>
        <!-- Name input -->
        <div class="form-outline mb-4">
            <input type="text" id="brand" name="brand" class="form-control" required value="{{tireFound.brand}}" />
            <label class="form-label" for="brand">brand</label>
        </div>

        <div class="form-outline mb-4">
            <input type="text" id="sku" name="sku" class="form-control" required value="{{tireFound.sku}}" />
            <label class="form-label" for="sku">sku</label>
        </div>

        <div class="form-outline mb-4">
            <input type="number" min="25" id="price" name="price" class="form-control" required
                value="{{tireFound.price}}" />
            <label class="form-label" for="price">Price</label>
        </div>

        <div class="form-outline mb-4">
            <input type="text" id="size" name="size" class="form-control" value="{{tireFound.size}}" required />
            <label class="form-label" for="size">Size</label>
        </div>

        <div class="form-outline mb-4">
            <textarea class="form-control" id="desc" rows="4" name="desc">{{tireFound.desc}}</textarea>
            <label class="form-label" for="desc">Message</label>
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="category">Category</label>
            <select class="form-select" name="category" id="category" required>
                {{optionGenerator 'Summer' tireFound.category}}
                {{optionGenerator 'Winter' tireFound.category}}
                {{optionGenerator 'All-season' tireFound.category}}
                {{optionGenerator 'Off-road' tireFound.category}}
                {{optionGenerator 'Crossover' tireFound.category}}
            </select>
        </div>


        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
    </form>
</div>