{{!-- Forms have been taken from mdbootstrap: https://mdbootstrap.com/docs/standard/forms/overview/ --}}


{{!-- form used for both adding and editing a car object in the mongo database --}}
<h2>{{title}}</h2>


<div class="container mt-4">
    
        {{!-- <div> --}}
            {{!-- {{#if (areEqual carFound.imageName "")}}
            {{!-- {{else}} 
            {{!-- {{/if}} 
            
        {{!-- </div> --}}
     <!-- <img src="uploads/images/cars/{{carFound.imageName}}" height="120px" class="img-fluid" /> 
      <input type="text" value="uploads/images/cars/{{carFound.imageName}}"> -->

    <form class="w-50" method="POST" enctype="multipart/form-data">

        <input type="text" hidden value="{{carFound.imageName}}" name="prevImgName">
        {{!-- file upload --}}
        <div class="input-group mb-3">
            <input type="file" class="form-control" id="file" name="file">
            <label class="input-group-text" for="file">Upload Image</label>
        </div>

        <!-- Name input -->
        <div class="form-outline mb-4">
            <input type="text" id="make" name="make" class="form-control" required value="{{carFound.make}}" />
            <label class="form-label" for="make">Make</label>
        </div>

        <div class="form-outline mb-4">
            <input type="text" id="model" name="model" class="form-control" required value="{{carFound.model}}" />
            <label class="form-label" for="model">Model</label>
        </div>

        <div class="form-outline mb-4">
            <input type="number" min="1900" max="2024" step="1" id="year" name="year" class="form-control" required
                value="{{carFound.year}}" />
            <label class="form-label" for="year">Year</label>
        </div>

        <div class="form-outline mb-4">
            <input type="text" id="mileage" name="mileage" class="form-control" value="{{carFound.mileage}}"  required/>
            <label class="form-label" for="mileage">Mileage</label>
        </div>

        <div class="form-outline mb-4">
            <textarea class="form-control" id="desc" rows="4" name="desc">{{carFound.desc}}</textarea>
            <label class="form-label" for="desc">Message</label>
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="transmission">Transmission</label>
            <select class="form-select" name="transmission" id="transmission" required>
                {{!-- <option disabled selected class="text-secondary">Transmission</option> --}}
                {{optionGenerator 'manual' carFound.transmission}}
                {{optionGenerator 'automatic' carFound.transmission}}
                {{!-- <option value="manual">manual</option>
                <option value="automatic">automatic</option> --}}
            </select>
        </div>


        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
    </form>
</div>