{{!-- <link rel="stylesheet" href="/stylesheets/forms.css"> --}}
<h2>{{title}}</h2>

<div class="container mt-4">
        {{!-- <div> --}}
            {{!-- {{#if (areEqual carFound.imageName "")}}
            {{!-- {{else}} 
            {{!-- {{/if}} 
            
        {{!-- </div> --}}
     <!-- <img src="uploads/images/cars/{{carFound.imageName}}" height="120px" class="img-fluid" /> 
      <input type="text" value="uploads/images/cars/{{carFound.imageName}}"> -->

    <form class="w-50" method="POST" enctype="multipart/form-data">

        <input type="text" hidden value="{{carFound.imageName}}" name="prevImgName">
        {{!-- file upload --}}
        <div class="input-group mb-3">
            <input type="file" class="form-control" id="file" name="file">
            <label class="input-group-text" for="file">Upload Image</label>
        </div>

        <!-- Name input -->
        <div class="form-outline mb-4">
            <input type="text" id="make" name="make" class="form-control" required value="{{carFound.make}}" />
            <label class="form-label" for="make">Make</label>
        </div>

        <div class="form-outline mb-4">
            <input type="text" id="model" name="model" class="form-control" required value="{{carFound.model}}" />
            <label class="form-label" for="model">Model</label>
        </div>

        <div class="form-outline mb-4">
            <input type="number" min="1900" max="2024" step="1" id="year" name="year" class="form-control" required
                value="{{carFound.year}}" />
            <label class="form-label" for="year">Year</label>
        </div>

        <div class="form-outline mb-4">
            <input type="text" id="mileage" name="mileage" class="form-control" value="{{carFound.mileage}}"  required/>
            <label class="form-label" for="mileage">Mileage</label>
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="transmission">Transmission</label>
            <select class="form-select" name="transmission" id="transmission" required>
                {{!-- <option disabled selected class="text-secondary">Transmission</option> --}}
                {{optionGenerator 'manual' carFound.transmission}}
                {{optionGenerator 'automatic' carFound.transmission}}
                {{!-- <option value="manual">manual</option>
                <option value="automatic">automatic</option> --}}
            </select>
        </div>

        <!-- Email input -->
        {{!-- <div class="form-outline mb-4">
            <input type="email" id="form4Example2" class="form-control" />
            <label class="form-label" for="form4Example2">Email address</label>
        </div> --}}

        <!-- Message input -->
        {{!-- <div class="form-outline mb-4">
            <textarea class="form-control" id="form4Example3" rows="4"></textarea>
            <label class="form-label" for="form4Example3">Message</label>
        </div> --}}

        <!-- Checkbox -->
        {{!-- <div class="form-check d-flex justify-content-center mb-4">
            <input class="form-check-input me-2" type="checkbox" value="" id="form4Example4" checked />
            <label class="form-check-label" for="form4Example4">
                Send me a copy of this message
            </label>
        </div> --}}

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
    </form>
</div>