{{!-- <link rel="stylesheet" href="/stylesheets/forms.css"> --}}
{{!-- <div class="container mt-5 mb-5 d-flex justify-content-center">
    <div class="card px-1 py-4">
        <div class="card-body">
            <h6 class="card-title mb-3">This appointment is for</h6>
            <div class="d-flex flex-row"> <label class="radio mr-1"> <input type="radio" name="add" value="anz" checked>
                    <span> <i class="fa fa-user"></i> Anz CMK </span> </label> <label class="radio"> <input type="radio"
                        name="add" value="add"> <span> <i class="fa fa-plus-circle"></i> Add </span> </label> </div>
            <h6 class="information mt-4">Please provide following information about Anz CMK</h6>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <!-- <label for="name">Name</label> --> <input class="form-control" type="text"
                            placeholder="Name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="input-group"> <input class="form-control" type="text" placeholder="Mobile"> </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="input-group"> <input class="form-control" type="text" placeholder="Email ID"> </div>
                    </div>
                </div>
            </div>
            <div class=" d-flex flex-column text-center px-5 mt-3 mb-3"> <small class="agree-text">By Booking this
                    appointment you agree to the</small> <a href="#" class="terms">Terms & Conditions</a> </div> <button
                class="btn btn-primary btn-block confirm-button">Confirm</button>
        </div>
    </div>
</div> --}}
<h2>{{title}}</h2>


<div class="container mt-4">
    <form class="w-50" method="POST">
        <!-- Name input -->
        <div class="form-outline mb-4">
            <input type="text" id="make" name="make" class="form-control" required value="{{carFound.make}}" />
            <label class="form-label" for="make">Make</label>
        </div>

        <div class="form-outline mb-4">
            <input type="text" id="model" name="model" class="form-control" required value="{{carFound.model}}" />
            <label class="form-label" for="model">Model</label>
        </div>

        <div class="form-outline mb-4">
            <input type="number" min="1900" max="2024" step="1" id="year" name="year" class="form-control" required
                value="{{carFound.year}}" />
            <label class="form-label" for="year">Year</label>
        </div>

        <div class="form-outline mb-4">
            <input type="text" id="mileage" name="mileage" class="form-control" value="{{carFound.mileage}}"  required/>
            <label class="form-label" for="mileage">Mileage</label>
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="transmission">Transmission</label>
            <select class="form-select" name="transmission" id="transmission" required>
                {{!-- <option disabled selected class="text-secondary">Transmission</option> --}}
                {{optionGenerator 'manual' carFound.transmission}}
                {{optionGenerator 'automatic' carFound.transmission}}
                {{!-- <option value="manual">manual</option>
                <option value="automatic">automatic</option> --}}
            </select>
        </div>

        <!-- Email input -->
        {{!-- <div class="form-outline mb-4">
            <input type="email" id="form4Example2" class="form-control" />
            <label class="form-label" for="form4Example2">Email address</label>
        </div> --}}

        <!-- Message input -->
        {{!-- <div class="form-outline mb-4">
            <textarea class="form-control" id="form4Example3" rows="4"></textarea>
            <label class="form-label" for="form4Example3">Message</label>
        </div> --}}

        <!-- Checkbox -->
        {{!-- <div class="form-check d-flex justify-content-center mb-4">
            <input class="form-check-input me-2" type="checkbox" value="" id="form4Example4" checked />
            <label class="form-check-label" for="form4Example4">
                Send me a copy of this message
            </label>
        </div> --}}

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
    </form>
</div>